
    



/* Nav Bar CSS */


/* Header CSS */



/* Section CSS */
h1 {
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    color: #FFC14F;
}


.flower {
    position: relative;
    text-align: center;
    color: white;
}

.my-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home {
    background-image: url("https://i.pinimg.com/originals/e6/1e/d5/e61ed5aff13c74057c3c869e496182a4.jpg");
   
}
/* About Section CSS */
h3 {
    font-family: 'Ewert', cursive;
    text-align: center;
    color:#7F376C;
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #7F5E76;
    font-size: 20px;


}

p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #7F5E76;
    font-size: 30px;
}

.about {
    background-image: url("https://i.pinimg.com/originals/09/4e/04/094e04431d1238d6cc14602f0d34d659.jpg");

    
}

.projects {
    background-image: url("https://i.pinimg.com/originals/09/4e/04/094e04431d1238d6cc14602f0d34d659.jpg");

}
/* Portfolio Item CSS */



/* Footer CSS */
.contact {
    background-image: url("https://i.pinimg.com/originals/09/4e/04/094e04431d1238d6cc14602f0d34d659.jpg");

}


/* Button CSS */


