body {
    
    /*margin: auto;*/
}


/* Nav Bar CSS */


/* Header CSS */



/* Section CSS */
h1 {
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    color: #e26d3f;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    color: #cc4c43;
}

/* About Section CSS */
h3 {
    font-family: 'Ewert', cursive;
    text-align: center;
    color:#ff0000;
}

h4 {
    font-family: 'Monoton', cursive;
    text-align: center;


}

p {
    font-family: 'Pacifico', cursive;
    text-align: center;
}

/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


